---
// リモート画像を使う前提とする

import CollectionPicture from "./CollectionPicture.astro";
import type { StationImage } from "@lib/other/station-collections";

interface Props {
  images: StationImage[] | StationImage;
}
const { images, ...globalAttrs } = Astro.props;
// かならずArrayになるように型を操作する
const list = Array.isArray(images) ? images : [images];
---

<div class="picture-list-container">
  {
    list.length === 0 ? (
      <p class="no-image">写真がありません。</p>
    ) : (
      <div class="image-container">
        {list.map((item) => {
          return <CollectionPicture image={item} {...globalAttrs} />;
        })}
      </div>
    )
  }
</div>

<style>
  .picture-list-container {
    margin: 1.5rem auto;
    @media (max-width: 1024px) {
      margin: 0.7rem auto;
    }
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
</style>
