---
import GeneralPageLayout from "@layouts/GeneralPageLayout.astro";
import CompanyContainer from "@components/other/station-collections/CompanyContainer.astro";

import stationList from "@lib/other/station-collections/data/stationList";

/**
 * タグ文字列を用いて条件を満たす事業者の配列を返す.
 * @param targetTagList 求めるタグ
 * @param excludeTagList 除外するタグ
 */
const searchCompaniesByTag = (
  targetTagList: string[],
  excludeTagList: string[],
) => {
  return Object.values(stationList).filter((company) => {
    return (
      targetTagList.every((targetTag) => company.tag.has(targetTag)) &&
      !excludeTagList.some((excludeTag) => company.tag.has(excludeTag))
    );
  });
};

/** 一致タグ, 除外タグ, 見出しタイトルの順で文字列を入れる */
const companyTagSetList: [string[], string[], string][] = [
  [["JR"], [], "JR"],
  [["semi-public"], [], "第三セクター"],
  [["major-private"], [], "大手私鉄"],
  [["private"], ["major-private"], "その他私鉄"],
  [["municipal"], [], "公営交通"],
];

const ogp = {
  url: Astro.request.url,
  type: "website",
  title: "Under Construction | 鉄道駅コレクション",
  description: "行ったことのある鉄道駅のまとめページです",
  siteName: "Under Construction",
  image: "https://aiwaka.github.io/under-construction/img/blue_2.png",
};
---

<GeneralPageLayout title="鉄道駅コレクション" ogp={ogp}>
  <h1>鉄道駅コレクション</h1>
  <p>
    私が訪れたことのある鉄道駅について写真を載せたりしてまとめたいと思います。
    路線別に訪れた駅がまとまっています。
    駅名をタップまたはクリックすると写真の載った個別ページへ移動します。
    文字が薄い場合はページがまだ作られていません。
    また、カッコで囲まれた駅は厳密にはその路線に属していないものです。
    隣の駅を見やすいように各路線にそのような駅が含まれていることがあります。
  </p>
  <p>
    訪れた、とは、基本的には下車を指します。
    ホーム上に降り立ったのみの場合もときには含みますが、車窓のみの場合は基本的に含めないようにするつもりです。
    並び順は路線は五十音順、駅は下り方向に並び順です（上り下りは厳密ではない場合があります）。
    また、厳密にはその路線に含まれない駅も隣の駅を辿れるように系統によっては含めている場合があります。
    いずれにせよ趣味なので多少曖昧な部分は残るかと思いますがご容赦ください。
  </p>
  <p>作成中なのでレイアウトはちょくちょく変わると思います。</p>
  {/* TODO: 目次を作る */}

  {
    companyTagSetList.map(([targetTagList, excludeTagList, sectionName]) => {
      return (
        <>
          <h2 id={targetTagList.join("")}>{sectionName}</h2>
          {searchCompaniesByTag(targetTagList, excludeTagList).map(
            (company) => {
              return <CompanyContainer company={company} />;
            },
          )}
        </>
      );
    })
  }
</GeneralPageLayout>

<style>
  p {
    margin: 1rem auto;
  }
  h2 {
    margin-left: 0.2rem;
    margin-bottom: 0.8rem;
  }
  /* details {
    width: 90%;
    height: fit-content;
  }
  details > summary {
    list-style: none;
    padding: 2px 6px;
    width: 15em;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  } */
</style>
 @lib/other/station-collections/data/stationList
