---
import { Image } from "astro:assets";

import myIcon from "../../assets/my-icon.png";
---

<section class="profile-section section-item">
  <h2 id="profile">Profile</h2>
  <div class="my-icon-col">
    <Image
      class="icon"
      src={myIcon}
      alt="Aiwaka icon"
      format="webp"
      width={640}
      height={640}
    />
  </div>
  <div class="text-col">
    <ul class="profile-data">
      <li>ハンドルネーム：あいわか</li>
      <li>出身：奈良</li>
      <li>所属：京都大学工学部&rarr;京都大学情報学研究科&rarr;</li>
    </ul>
    <p>
      小学生時代まで熊本に住み、中学受験を経て奈良に移りました。
      大学以降は京都を拠点としています。
      趣味はビデオゲーム、作曲、ピアノ、イラスト、散歩、鉄道旅行などです。
      京都大学軽音楽部に所属しており、部が配信するコンピレーションアルバムに曲を出したり、ライブに出たりしています。
    </p>
  </div>
</section>

<style>
  p {
    margin: 1.5rem auto;
  }
  #profile {
    width: 100%;
  }
  .profile-section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.7rem;
  }
  .my-icon-col {
    width: 20%;
    margin: auto;
    > .icon {
      border-radius: 100%;
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .text-col {
    width: 70%;
  }
  ul[class] {
    margin-left: 1.1rem;
  }
</style>
