---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Under Construction | not found">
  <div class="header-margin"></div>
  <h2>Page Not Found</h2>
</BaseLayout>

<style>
  .header-margin {
    height: 8rem;
  }
</style>
