---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProfileSection from "@components/sections/ProfileSection.astro";
---

<BaseLayout title="Under Construction">
  <div class="background-image"></div>
  <div class="title-container">
    <div class="title-card">
      <h1 class="title">UNDER CONSTRUCTION</h1>
      <p class="subtitle">Aiwaka's profile website</p>
    </div>
  </div>
  <div class="slided-bg-image"></div>
  <main class="main-container">
    <div class="contents-container">
      <ProfileSection />
    </div>
  </main>
</BaseLayout>

<style lang="postcss">
  /* .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  } */
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100lvw;
    height: 100lvh;
    background-repeat: no-repeat;
    background-image: url("/img/my-icon.png");
    background-position: 100% 0%;
    background-size: contain;
    @media (max-width: 1024px) {
      background-position: center 0%;
      background-size: cover;
    }
  }

  .title-container {
    z-index: 20;
    position: absolute;
    top: 0;
    height: 100lvh;
    width: 100lvw;
    mix-blend-mode: exclusion;
  }
  .title-card {
    position: sticky;
    top: 50lvh;
    height: 100lvh;
    width: 80vw;
    margin: -70lvh auto;
    text-align: center;
    letter-spacing: 0.5rem;
    color: var(--main-bg-color);
    > .title {
      font-size: 3.2rem;
      font-weight: 700;
      @media (max-width: 1024px) {
        letter-spacing: 0.3rem;
        font-size: max(7vw, 1.6rem);
      }
    }
  }
  .slided-bg-image {
    top: 0;
    position: sticky;
    background-image: url("img/blue_2.png");
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100vh;
    height: 100vh;
    width: 100vw;
  }
  .main-container {
    width: 70%;
    margin: auto;
    @media (max-width: 1024px) {
      width: 90%;
    }
    z-index: 2;
    position: relative;
    height: fit-content;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }
  .contents-container {
    position: sticky;
    width: 70%;
  }
  @media (max-width: 1024px) {
    .contents-container {
      width: 80%;
    }
  }

  :global(.section-item) {
    margin: 8rem auto;
  }
</style>
