---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Under Construction">
  <div class="title-container">
    <div class="title-card">
      <h1 class="title">UNDER CONSTRUCTION</h1>
      <p class="subtitle">Aiwaka's profile website</p>
    </div>
  </div>
  <div class="contents">
    <!-- <div class="bg-image" style:background-image={`url(${bgImagePath})`}></div> -->
    <main class="main-container">
      <div class="contents-container"></div>
    </main>
  </div>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    /* max-width: 60ch; */
  }
  h1 {
    font-size: 3rem;
    /* font-weight: 800; */
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  .title-container {
    z-index: 20;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    mix-blend-mode: exclusion;
  }
  .title-card {
    position: sticky;
    top: 50vh;
    height: 100vh;
    width: 80vw;
    margin: -50vh auto;
    text-align: center;
    letter-spacing: 0.7rem;
    color: azure;
  }
  .title-card .title {
    font-size: 4.2rem;
    font-weight: 700;
  }
  @media (max-width: 1024px) {
    .title-card .title {
      font-size: 2.6rem;
    }
  }
  .bg-image {
    top: 0;
    position: sticky;
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100vh;
    height: 100vh;
    width: 100vw;
  }
  .main-container {
    z-index: 2;
    position: relative;
    height: fit-content;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }
  .contents-container {
    position: sticky;
    width: 70%;
  }
  @media (max-width: 1024px) {
    .contents-container {
      width: 80%;
    }
  }

  :global(.section-item) {
    margin: 8rem auto;
  }
</style>
