---
import LinkCard from "@components/other/LinkCard.astro";
import testImg from "@assets/blue_2.png";
import travelogueImage from "@assets/travelogue.jpg";
import GeneralPageLayout from "@layouts/GeneralPageLayout.astro";

const ogp = {
  url: Astro.request.url,
  type: "blog",
  title: "Under Construction",
  description: "趣味のページです",
  siteName: "Under Construction",
  image: "https://aiwaka.github.io/under-construction/img/blue_2.png",
};
---

<GeneralPageLayout title="ページ一覧" ogp={ogp}>
  <h1>その他ページ一覧</h1>
  <p>趣味で作ったページをここに載せます。</p>
  <div class="card-container">
    <LinkCard title="旅行記" image={travelogueImage} href="travelogue">
      <p>私の旅行記をまとめたページです。</p>
    </LinkCard>
    <LinkCard
      title="鉄道駅コレクション"
      image={testImg}
      href="station-collections"
    >
      <p>私が訪れたことのある鉄道駅についてまとめたページです。</p>
    </LinkCard>
  </div>
</GeneralPageLayout>

<style>
  p {
    margin: 1rem auto;
  }

  .card-container {
    margin: 1.4rem auto;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.4rem;
    column-gap: 5%;
  }
</style>
