---
import AnimatedLink from "./utils/AnimatedLink.astro";

interface IndexData {
  name: string;
  href: string;
}
interface Props {
  indexList: IndexData[];
}
const { indexList } = Astro.props;
---

<div class="contents-link-wrapper">
  {
    indexList.map((index) => {
      return (
        <div class="index-link">
          <AnimatedLink href={index.href}>{index.name}</AnimatedLink>
        </div>
      );
    })
  }
</div>

<style>
  .contents-link-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 3.2rem 1rem;
    background-image: -webkit-linear-gradient(
      left,
      transparent,
      rgba(var(--main-font-color-params), 0.7) 5%,
      rgba(var(--main-font-color-params), 0.7) 95%,
      transparent
    );
    background-position: center;
    background-repeat: no-repeat;
    height: 2.2rem;
    line-height: 2.2rem;
  }
  @media (max-width: 1024px) {
    .contents-link-wrapper {
      margin: 2rem 0;
      position: relative;
      bottom: 0;
      height: 1.6rem;
      line-height: 1.6rem;
    }
  }
  .index-link {
    height: 2.2rem;
  }
</style>
