<footer class="site-footer">
  <p id="footer-copyright">&copy;Aiwaka 2023</p>
</footer>

<style lang="postcss">
  .site-footer {
    position: sticky;
    top: 100dvh;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 9rem;
    background: var(--main-color);

    > #footer-copyright {
      margin: 0;
      display: inline-block;
      font-size: 0.9rem;
      line-height: 9rem;
      color: var(--main-bg-color);
    }
  }
</style>
