<footer class="site-footer">
  <p id="footer-copyright">&copy;Aiwaka 2023</p>
</footer>

<style lang="postcss">
  .site-footer {
    position: sticky;
    top: 100vh;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 14rem;
    background: darkslateblue;
  }
  .site-footer p {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 14rem;
    color: azure;
    padding: 0.2rem 1rem;
  }
</style>
