---
import ArticleCard from "@components/blog/ArticleCard.astro";
import type { BlogPostEntry } from "@lib/contents/blog";

interface Props {
  cardList: BlogPostEntry[];
}
const { cardList } = Astro.props;
---

<div class="contents-card-container">
  {
    cardList.map((entry) => {
      return <ArticleCard entry={entry} />;
    })
  }
</div>

<style>
  .contents-card-container {
    margin: 1.4rem auto;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.4rem;
    column-gap: 5%;
  }
  @media (max-width: 1024px) {
    .contents-card-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
