---
// ページ遷移ボタンを管理する
interface Props {
  lastPage: number;
  currentPage: number;
}
const { lastPage, currentPage } = Astro.props;
const range = (num: number) => [...Array(num)].map((_, i) => i);
---

<div class="pagination-section">
  <div class="pagination-container">
    {
      currentPage === 1 ? (
        <div class="page-button disabled">&lt;&lt;</div>
      ) : (
        <a href={`/blog/1`}>
          <div class="page-button">&lt;&lt;</div>
        </a>
      )
    }
    {
      currentPage === 1 ? (
        <div class="page-button disabled">&lt;</div>
      ) : (
        <a href={`/blog/${currentPage - 1}`}>
          <div class="page-button">&lt;</div>
        </a>
      )
    }

    {
      range(5).map((num) => {
        const temp = num + currentPage - 2;
        if (range(lastPage).includes(temp - 1)) {
          return (
            <a href={`/blog/${temp}`}>
              <div class="page-button">{temp}</div>
            </a>
          );
        } else {
          return <div class="page-button disabled"> </div>;
        }
      })
    }
    {
      currentPage === lastPage ? (
        <div class="page-button disabled">&gt;</div>
      ) : (
        <a href={`/blog/${currentPage + 1}`}>
          <div class="page-button">&gt;</div>
        </a>
      )
    }
    {
      currentPage === lastPage ? (
        <div class="page-button disabled">&gt;&gt;</div>
      ) : (
        <a href={`/blog/${lastPage}`}>
          <div class="page-button">&gt;&gt;</div>
        </a>
      )
    }
  </div>
</div>

<style>
  .pagination-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }
  .pagination-container {
    display: flex;
    width: fit-content;
    & .page-button {
      text-align: center;
      line-height: 2rem;
      width: 2rem;
      height: 2rem;
      border: 1px solid var(--main-color);
      border-radius: 2px;
      background-color: var(--main-bg-color);
      &:hover {
        cursor: pointer;
        background-color: rgba(var(--main-color-params), 0.5);
      }
      &.disabled {
        color: gray;
        background-color: transparent;
        border: 1px dashed gray;
        cursor: auto;
      }
    }
  }
</style>
