---
import ArticleCardContainer from "@components/blog/ArticleCardContainer.svelte";
import BlogGeneralLayout from "@layouts/BlogGeneralLayout.astro";
import { ArticleAttribute } from "@lib/articles";
import { getFilenameFromPath } from "@lib/utils";

export async function getStaticPaths() {
  // 全記事を取得
  const posts = await Astro.glob("../../blog/*.mdx");
  const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
  // タグ一覧を取得
  const allTags = nonDraftPosts.reduce((prev, curr) => {
    return prev.concat(curr.frontmatter.tags);
  }, []);
  const uniqueAllTags = Array.from(new Set(allTags));
  return uniqueAllTags.map((tag) => ({
    params: {
      tag,
    },
    props: {
      postAttrList: nonDraftPosts
        .filter((post) => post.frontmatter.tags.includes(tag))
        .map((post) => {
          const frontmatter = post.frontmatter as Record<string, any> &
            ArticleAttribute;
          const filename = getFilenameFromPath(post.file) ?? "";
          return new ArticleAttribute(
            filename,
            frontmatter.title,
            frontmatter.description,
            frontmatter.thumbnail,
            new Date(frontmatter.date),
            frontmatter.tags
          );
        }),
    },
  }));
}

const { tag } = Astro.params;
const postAttrList = Astro.props.postAttrList as ArticleAttribute[];
postAttrList.sort((a, b) => (a.date < b.date ? 1 : -1));
---

<BlogGeneralLayout title="">
  <h2>Blog</h2>
  <a class="to-tag-list" href="/blog/tags">タグ一覧へ</a>
  <h3>#{tag}の検索結果</h3>
  <ArticleCardContainer cardList={postAttrList} />
</BlogGeneralLayout>

<style>
  .to-tag-list {
    text-decoration: underline;
  }
</style>
