---
import BlogGeneralLayout from "@layouts/BlogGeneralLayout.astro";
import ArticleTag from "@components/blog/ArticleTag.svelte";
import { getBlogPostEntries } from "@lib/contents/blog";

const allTagList = [] as string[];
await getBlogPostEntries(allTagList);

const ogp = {
  url: Astro.request.url,
  type: "blog",
  title: `Under Construction | Blog | タグ一覧`,
  description: "ブログ記事のタグ一覧",
  siteName: "Under Construction",
  image: "https://littleikawa.github.io/under-construction/img/blue_2.png",
};
---

<BlogGeneralLayout ogp={ogp} title="">
  <h2>Blog タグ一覧</h2>
  <div class="tag-container">
    {
      allTagList.map((tag) => {
        return <ArticleTag tag={tag} />;
      })
    }
  </div>
</BlogGeneralLayout>

<style>
  .tag-container {
    border: 1px solid var(--main-font-color);
    border-radius: 7px;
    padding: 1rem 1.2rem;
    margin: 1.6rem 0;
  }
</style>
