---
import ArticleTag from "@components/blog/ArticleTag.svelte";
import BlogGeneralLayout from "@layouts/BlogGeneralLayout.astro";

const posts = await Astro.glob("../../blog/*.mdx");
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
// タグ一覧を取得
const allTags = nonDraftPosts.reduce((prev, curr) => {
  return prev.concat(curr.frontmatter.tags);
}, []);
const uniqueAllTags = Array.from(new Set(allTags));
---

<BlogGeneralLayout title="">
  <h2>Blog タグ一覧</h2>
  <div class="tag-container">
    {
      uniqueAllTags.map((tag) => {
        return <ArticleTag tag={tag} />;
      })
    }
  </div>
</BlogGeneralLayout>

<style>
  .tag-container {
    margin: 1.6rem 0;
  }
</style>
