---
import BlogGeneralLayout from "./BlogGeneralLayout.astro";
const { frontmatter } = Astro.props;
---

<BlogGeneralLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <h2>投稿者: {frontmatter.author}</h2>
  <p>{frontmatter.description}</p>
  <slot />
</BlogGeneralLayout>
