---
interface Props {
  href: string;
  highlight?: boolean;
}
const { href, highlight = false } = Astro.props;
---

<a class:list={["animated-link", { "current-page": highlight }]} href={href}>
  <slot />
</a>

<style>
  .animated-link {
    transition: 0.25s ease-in-out;
    display: block;
    position: relative;
    margin: 0 0.6rem;
    line-height: inherit;
    font-size: 1.4rem;
    color: var(--main-bg-color);
    white-space: nowrap;
    @media (max-width: 1024px) {
      font-size: min(4vw, 1.2rem);
    }
  }

  .animated-link:hover {
    color: var(--page-link-hover-color);
  }

  .animated-link::before {
    content: "";
    width: 0;
    height: 0.1rem;
    background: var(--page-link-hover-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.25s ease-out;
  }

  .animated-link:hover::before {
    width: 100%;
  }

  .animated-link.current-page {
    color: var(--page-link-hover-color);
  }
  .animated-link.current-page::before {
    width: 100%;
    background: var(--current-page-link-color);
  }
</style>
